/*
Place your custom CSS here
*/
.calendarOuterDiv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.datePickerContent{
    text-align: center;
    cursor: pointer;
}